{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->


        <div class="panel panel-default">
            <div class="panel-heading">
                上传单号
            </div>

            <div class="king-page-box">
                <div class="king-container clearfix">
                    <div class="container-fluid mb0 ">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-6">

                                {% for msg in get_flashed_messages(category_filter=['ok']) %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h4><i class="icon fa fa-check"></i> 操作成功!</h4>
                                        {{ msg }}
                                    </div>
                                {% endfor %}

                                {% for msg in get_flashed_messages(category_filter=['err']) %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h4><i class="icon fa fa-ban"></i> 操作失败!</h4>
                                        {{ msg }}
                                    </div>
                                {% endfor %}



                                <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
                                      action="{{ url_for('express.express_upload') }}">
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">{{ form.serial_id.label }}</label>
                                        <div class="col-sm-9">
                                            {{ form.serial_id(value=serial_id) }}
                                            {% for err in form.serial_id.errors %}
                                                <div class="col-md-12">
                                                    <span style="color: red;">{{ err }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>


                                    </div>

                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">{{ form.url.label }}</label>

                                        <div class="col-sm-9">
                                            {{ form.url }}

                                            {% for err in form.url.errors %}
                                                <div class="col-md-12">
                                                    <span style="color: red;">{{ err }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>


                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            {{ form.csrf_token }}
                                            {{ form.submit }}

                                        </div>
                                    </div>
                                </form>


                                <div class="king-instruction  king-instruction-info ">
                                    <h5>提示说明</h5>
                                    <p>单击图标下载导入模板</p>
                                    <a href="{{ url_for('express.down_file') }}"><img
                                            src="{{ url_for('static',filename='img/excel.png') }}"
                                            style="height:50px;width:50px"></a>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}


    <script>
        $('#page-3').addClass("active");
    </script>
{% endblock %}